<h1>{{title}}</h1>
<form action="/process" method="POST">
    <div>
        <p>Your code here: </p>
        <div id="container" style="width:800px;height:600px;border:1px solid grey"></div>
        <input type="hidden" name="code" id="code"/>
        <script src="../node_modules/monaco-editor/min/vs/loader.js"></script>
        <script>
            require.config({ paths: { 'vs': '../node_modules/monaco-editor/min/vs' }});
            require(['vs/editor/editor.main'], function() {
                window.editor = monaco.editor.create(document.getElementById('container'), {
                    value: [
                        '#include <stdio.h>',
                        '#include <unistd.h>',
                        'int main(){',
                        '\tprintf("Hello world!");',
                        '\tsleep(5);',
                        '\tprintf("Test!");',
                        '}'
                    ].join('\n'),
                    language: 'c'
                });
            });
            function save(){
                document.getElementById("code").value = editor.getValue();
            }
            function loadLang(){

            }
        </script>

    </div>
    Language : <select name="lang" id="lang" onchange="loadLang()">
    <option value="C">C</option>
    <option value="Chapel">Chapel</option>
</select>
    <div>
        <button type="submit" onclick="save()">Submit</button>
    </div>
</form>